@tailwind base;
@tailwind components;
/* @font-face {
    font-family: 'Dual';
    src: local('Dual'), url( ./Fonts/Dual.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url( ./Fonts/Montserrat.ttf) format('ttf');
  } */
@tailwind utilities;

input[type="radio"] {
  cursor: pointer;
  border: 1px solid #767676;
  width: 20px;
  height: 20px;
  /* accent-color: #FF9728; */
}

.home-phone .ReactFlagsSelect-module_selectBtn__19wW7 {
  background-color: white !important;
  border-radius: 12px 0px 0px 12px !important;
  border: none !important;
  border-left: 1px solid #767676 !important;
  padding: 8px 20px !important;
  outline: none !important;
  min-width: 160px;
  max-width: 160px;
  position: absolute;
  z-index: 20;
  margin-top: 6px !important;
}
.home-phone .ReactFlagsSelect-module_selectOptions__3LNBJ {
  border: 1px solid #09c5b0 !important;
  border-radius: 5px !important;
  top: 48px;
}


.order-country .ReactFlagsSelect-module_selectBtn__19wW7 {
  background-color: white !important;
  border-radius: 16px !important;
  border: none !important;
  border: 1px solid black !important;
  padding: 6px 20px !important;
  outline: none !important;
}
.order-country .ReactFlagsSelect-module_selectOptions__3LNBJ {
  border: 1px solid #09c5b0 !important;
  border-radius: 5px !important;
  top: 40px;
}